@font-face {
    font-family: "Cageroll-Cage";
    src: url("./static/fonts/Cageroll-Cage.otf");
}

.display {
    position:relative;
    display: flex;
    align-items: center;
    font-family: 'Cageroll-Cage', arial;
    text-align:center;
    font-size:30px;
    width:100%;
    height:50px;
    background-color:#8bac0f;
    background-image: url("./static/images/otis-redding.png");

    box-shadow: inset 0px 0px 5px 5px #414141;

    user-select: none;
    padding: 0 15px;
}

.display::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-image: url("./static/images/glass_overlay.png");
    background-position: center;
    background-size: cover;
    background-color: transparent;
    position: absolute;
    opacity: 0.4;
}

.active_segments{
    position:relative;
    width:100%;
    color:#303030;
    text-shadow: 2px -1px 1px #6d6d6d ;
}

@media screen and (max-width:479px) and (orientation:portrait){
.display{
    position:relative;
    top:0;
    left:0;
    margin:0;
    width:100%;
}
}