.slider {
    appearance: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.slider::-webkit-slider-runnable-track {
    background-color: #1a1111;
    height: 10px;
}

.slider::-webkit-slider-thumb {
    display: block;
    background-color: #fff;
    width: 50px;
    height: 20px;
    appearance: none;
    transform: translateY(-25%);
    cursor: pointer;
}